@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
